<nav class="navbar navbar-expand-xxl">
    <div class="row container-fluid">
        <div class="col-1">
            <a class="navbar-brand" href="#">SIGAUS</a>
        </div>
        <div class="col-8">
            <div class="enlaces" >
                <!-- <nav class="navbar "> -->
                    <div class="nav-item active">
                        <a class="nav-link "  routerLink="/inicio">INICIO</a>
                    </div>
                    <div class="nav-item active">
                        <a class="nav-link " routerLink="/declaraciones">DECLARACIONES</a>
                    </div>
                    <div class="nav-item active">
                        <a class="nav-link "  routerLink="/inicio">INSTALACIONES</a>
                    </div>
                    <div class="nav-item active">
                        <a class="nav-link "  routerLink="/inicio">INCIDENCIAS/ALERTAS</a>
                    </div>
                    <div class="nav-item active">
                        <a class="nav-link "  routerLink="/inicio">FINANCIACION</a>
                    </div>
                    <div class="nav-item active">
                        <a class="nav-link "  routerLink="/inicio">INFORMES</a>
                    </div>
                <!-- </nav> -->
            </div>
        </div>
        <div class="col-3">
            
            <div class="incidencias">
                <div class="material-symbols-outlined ">
                    notifications_active
                </div>
                <div class="nav-link">INCIDENCIAS</div>
                <div class="numeroIncidencias">
                    <div class="numeroIzq">12</div>
                    <div class="numeroDcha">18</div>
                </div>
            
            <div class="perfil">
                <span class="material-symbols-outlined">
                    folder_shared
                </span>
                <div class="nav-link">PERFIL</div>
                
            </div>
        
        
            <span class="material-symbols-outlined" id="logout">
            logout
            </span>
            </div>
        </div>
    </div>
  </nav>
