/* You can add global styles to this file, and also import other style files */


$color-oliva: olive;
$color-naranja: rgb(255, 136, 0);
$color-amarillo: rgb(255, 204, 0);
$color-azul: rgb(0, 60, 255);
$color-gris: rgb(103, 103, 103)